<div class="card my-2">
	<div class="card-body">
		<div class="row">
			<div class="col-md-8 col-sm-10">
				<h5 class="mb-0 text-primary">
					<span class="fas fa-users mr-2"></span>
					<%= committee.name %>
				</h5>
			</div>
			<div class="col-md-4 col-sm-2">
				<div class="align-content-end mt-10">
					
    		</div>
			</div>
		</div>
	</div>
</div>