<div class="row">
	<div class="col-md-6">
		<h6 class="m-0 font-weight-bold">Ordinance/Resolution Categories</h6>
	</div>
	<div class="col-md-6">
		<%= link_to "New Category", new_settings_category_path, class: "btn btn-outline-success float-right", remote: true, data: { toggle: "modal", target: '#remote-modal', backdrop: 'static', keyboard: false } %>
	</div>
</div>
<div class="table-responsive">
  <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
  	<table class="table">
      <tbody>
      	<% @categories.each do |category| %>
      		<tr>
      			<td><%= category.name %></td>
      			<td class="text-right"><%= link_to "Edit", edit_settings_category_path(id: category.id), remote: true, data: { toggle: "modal", target: '#remote-modal', backdrop: 'static', keyboard: false } %></td>
      		</tr>
      	<% end %>
      </tbody>
    </table>
  </div>
</div>