<div class="mb-2">
	<span class="m-0 font-weight-bold h5">Categories</span>
	<%= link_to new_settings_category_path, class: "btn btn-sm btn-outline-primary float-right rounded-circle", remote: true, data: { toggle: "modal", target: '#remote-modal', backdrop: 'static', keyboard: false } do %>
		<span class="fa fa-plus"></span>
	<% end %>
</div>
<div class="table-responsive">
  <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
  	<table class="table">
      <tbody>
      	<% @categories.each do |category| %>
      		<tr>
      			<td><%= category.name %></td>
      			<td class="text-right">
      				<%= link_to edit_settings_category_path(id: category.id), class: 'btn btn-xs btn-outline-primary rounded-circle float-right px-1', title: 'Edit', remote: true, data: { toggle: "modal", target: '#remote-modal', backdrop: 'static', keyboard: false } do %>
      					<i class="fa fa-edit small pb-1 pl-1"></i>
      				<% end %>
      			</td>
      		</tr>
      	<% end %>
      </tbody>
    </table>
  </div>
</div>