<h5>
  Export Members
  <%= link_to 'Download as Excel', settings_exports_members_path(format: :xlsx), class: "btn btn-outline-success float-right" %>
</h5>
<hr class="my-4">
<h5>
  Export Committees
  <%= link_to 'Download as Excel', settings_exports_committees_path(format: :xlsx), class: "btn btn-outline-success float-right" %>
</h5>
<hr class="my-4">
<h5>
  Export Ordinances
  <%= link_to 'Download as Excel', settings_exports_ordinances_path(format: :xlsx), class: "btn btn-outline-success float-right" %>
</h5>
<hr class="my-4">
<h5>
  Export Resolutions
  <%= link_to 'Download as Excel', settings_exports_resolutions_path(format: :xlsx), class: "btn btn-outline-success float-right" %>
</h5>