<div class="mb-2">
	<span class="m-0 font-weight-bold h5">Political Parties</span>
	<%= link_to new_settings_political_party_path, class: "btn btn-sm btn-outline-primary float-right rounded-circle", remote: true, data: { toggle: "modal", target: '#remote-modal', backdrop: 'static', keyboard: false } do %>
		<span class="fa fa-plus"></span>
	<% end %>
</div>
<div class="table-responsive">
  <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
  	<table class="table">
      <tbody>
      	<% @political_parties.each do |political_party| %>
      		<tr>
      			<td><%= political_party.name %></td>
      			<td><%= political_party.code %></td>
      			<td class="text-right">
      				<%= link_to edit_settings_political_party_path(id: political_party.id), class: 'float-right', title: 'Edit', remote: true, data: { toggle: "modal", target: '#remote-modal', backdrop: 'static', keyboard: false } do %>
      					<i class="fa fa-edit"></i>
      				<% end %>
      					
      			</td>
      		</tr>
      	<% end %>
      </tbody>
    </table>
  </div>
</div>