<div class="row">
	<div class="col-md-6">
		<h6 class="m-0 font-weight-bold">Member Positions</h6>
	</div>
	<div class="col-md-6">
		<%= link_to "New Position", new_settings_position_path, class: "btn btn-outline-success float-right", remote: true, data: { toggle: "modal", target: '#remote-modal', backdrop: 'static', keyboard: false } %>
	</div>
</div>
<div class="table-responsive">
  <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
  	<table class="table">
      <tbody>
      	<% @positions.each do |position| %>
      		<tr>
      			<td><%= position %></td>
      			<td class="text-right"><%= link_to "Edit", edit_settings_position_path(id: position.id), remote: true, data: { toggle: "modal", target: '#remote-modal', backdrop: 'static', keyboard: false } %></td>
      		</tr>
      	<% end %>
      </tbody>
    </table>
  </div>
</div>