<div class="card mb-1">
	<div class="card-body py-2">
		<div class="row">
			<div class="d-block ml-3">
				<% if user.avatar.attached? %>
					<%= image_tag(user.avatar, height: 60, width: 60, class: "mx-auto d-block") %>
				<% else %>
					<%= image_tag('default', height: 60, width: 60, class: "mx-auto d-block") %>
				<% end %>
			</div>
			<div class="d-block ml-3">
				<h6 class="card-title mb-0"><%= user.name %></h6>
				<p class="badge bg-info">
					<i class="fa fa-tag"> </i> <%= user.role.titleize %>
				</p>
			</div>
		</div>
	</div>
</div>