<div class="row">
	<div class="col-md-8">
		<h5>Update Avatar</h5>
	</div>
	<div class="col-md-4">
		<%= simple_form_for @user, url: user_avatar_path(user_id: @user.id, id: @user.id), html: {multipart: true }, method: :patch do |f| %>
      <%= f.input :avatar, label: false, input_html: { multipart: true, onchange: "this.form.submit();" } %>
    <% end %>
	</div>
</div>
<hr class="my-4">
<div class="row">
	<div class="col-md-8">
		<h5>Update Profile Info</h5>
	</div>
	<div class="col-md-4">
		<%= link_to "Update", edit_user_path(@user), class: "btn btn-outline-danger float-right", remote: true, data: { toggle: "modal", target: '#remote-modal', backdrop: 'static', keyboard: false } %>
	</div>
</div>
<hr class="my-4">
<div class="row">
	<div class="col-md-8">
		<h5>Change Password</h5>
	</div>
	<div class="col-md-4">
		<%= link_to "Update", edit_users_password_path(id: @user.id), class: "btn btn-outline-danger float-right", remote: true, data: { toggle: "modal", target: '#remote-modal', backdrop: 'static', keyboard: false } %>
	</div>
</div>