<div class="card">
  <div class="card-body">
    <%= link_to edit_committee_path(committee.id), class: "btn btn-outline-primary rounded-circle float-right mb-2", title: "Update Committee Details", remote: true, data: { toggle: "modal", target: '#remote-modal', backdrop: 'static', keyboard: false } do %>
      <span class="fa fa-edit"></span>
    <% end if current_user_admin? %>
    <table class="table">
    	<tbody>
      	<tr>
      		<td>
            <p class="text-muted mb-0">Name</p>
            <%= @committee.name %>
          </td>
      	</tr>
      </tbody>
    </table>
  </div>
</div>