<div class="modal-header">
  <h5 class="modal-title">Update Committee Term</h5>
  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<% remote ||= false %>
<%= simple_form_for @term, html: { autocomplete: "off" }, remote: remote, url: committee_term_path(committee_id: @committee.id, id: @term.id), method: :patch do |f| %>
  <%= render 'form', f: f %>
<% end %>