<div class="card">
  <div class="card-header">
    <div class="row">
      <div class="col-md-6">
        <h4 class="">Edit Committee Term</h4>
      </div>
      <div class="col-md-6">
        <%= link_to committee_terms_path(committee_id: @committee.id) do %>
          <h4 class="float-right fa fa-times pt-1"></h4>
        <% end %>
      </div>
    </div>
  </div>
  <div class="card-body">
    <%= render "committees/terms/form", term: @term, committee: @committee %>
  </div>
</div>
