<div class="card">
	<div class="card-header">
		<h4>User Settings</h4>
	</div>
	<div class="card-body">
		<div class="row">
			<div class="col-md-8">
				<h5>Update Account Info</h5>
			</div>
			<div class="col-md-4">
				<%= link_to "Update", edit_user_path(@user), class: "btn btn-outline-danger float-right", data: { turbo_frame: "remote_modal", turbo: true } %>
			</div>
		</div>
		<hr class="my-4">
		<div class="row">
			<div class="col-md-8">
				<h5>Change Password</h5>
			</div>
			<div class="col-md-4">
				<%= link_to "Update", edit_user_password_path(user_id: @user.id, id: @user.id), class: "btn btn-outline-danger float-right", data: { turbo_frame: "remote_modal", turbo: true } %>
			</div>
		</div>
	</div>
</div>