<div class="card">
  <div class="card-body">
    <p class="text-muted mb-1">Records Count: <%= @results.count %></p>
    <table class="table">
    	<tbody>
        <% ordinances.each do |ordinance| %>
        	<tr>
            <td>
              PO# <%= ordinance.number %><br>
              <%= link_to ordinance.title, ordinance_path(id: ordinance.id) %>
            </td>
        	</tr>
        <% end %>
      </tbody>
    </table>
    <center><%= paginate ordinances, :window => 1 %></center>
  </div>
</div>