<div class="card my-2">
	<div class="card-body min-padding">
		<div class="row">
			<div class="col-md-1 col-sm-2">
				
			</div>
			<div class="col-md-7 col-sm-10">
				<h5 class="mb-0 text-primary"><%= committee.name %></h5>
			</div>
			<div class="col-md-4">
				<div class="align-content-end mt-10">
					
    		</div>
			</div>
		</div>
	</div>
</div>