<div class="card my-2">
	<div class="card-body min-padding">
		<h2 class="font-weight-bold text-primary">Ordinance # <%= @ordinance.number %></h2>
    <small class="badge bg-info"><%= @ordinance.current_stage.titleize if @ordinance.stages.present? %></small>
    <span class="badge bg-info"><%= @ordinance.date_approved if @ordinance.stages.present? %></span>
	</div>
</div>