<div class="modal-header">
  <h5 class="modal-title">Update Position</h5>
  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<% remote ||= false %>
<%= simple_form_for @position, html: { autocomplete: "off"}, remote: remote, url: settings_position_path(id: @position.id), method: :patch do |f| %>
  <%= render 'form', f: f %>
<% end %>