<div class="card">
  <div class="card-header">
    <div class="row">
      <div class="col-md-6">
        <h4 class="">New Position</h4>
      </div>
      <div class="col-md-6">
        <%= link_to settings_path do %>
          <h5 class="float-right fa fa-times pt-1"></h5>
        <% end %>
      </div>
    </div>
  </div>
  <div class="card-body">
    <%= render "settings/positions/form" %>
  </div>
</div>
