<div class="modal-header">
  <h5 class="modal-title">Update SP Term</h5>
  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<% remote ||= false %>
<%= simple_form_for @sp_term, html: { autocomplete: "off"}, remote: remote, url: settings_sp_term_path(id: @sp_term.id), method: :patch do |f| %>
  <%= render 'form', f: f %>
<% end %>