<div class="modal-body">
  <%= f.error_notification %>
  <%= f.input :current_name, label: "Name" %>
</div>
<div class="modal-footer">
  <%= f.submit "Save", class: "btn btn-outline-success float-right", data: { disable_with: "Processing..." } %>
</div>