<div class="modal-header">
  <h5 class="modal-title">Update Step Increment</h5>
  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<% remote ||= false %>
<%= simple_form_for @step_increment, html: { autocomplete: "off" }, remote: remote, url: member_step_increment_path(member_id: @member.id, id: @step_increment.id), method: :patch do |f| %>
  <%= render 'form', f: f %>
<% end %>