<div class="modal-body">
  <%= f.input :password, label: 'New Password'  %>
  <%= f.input :password_confirmation, label: "Re-Type New Password" %>
</div>
<div class="modal-footer">
  <%= f.submit "Update", class: "btn btn-outline-success float-right", data: { disable_with: "Processing..." } %>
</div>