button.as-a-link {
  padding: 0;
  border: none;
  color: blue;
  text-decoration: underline;
  padding: 0 !important;
}

button.as-a-link:hover {
  color: red;
}

.btn-link {
	padding: 0 !important;
}

.badge {
  font-weight: 600 !important;
  font-size: 90% !important;
}

mark {
  background-color: #ff00ec6b;
}

.chosen-container {
  font-size: 1rem !important;
  line-height: 1.5;
}

.chosen-container-multi .chosen-choices {
  height: 7rem !important;
  border-radius: 0.25rem !important;
}

.chosen-container-multi .chosen-choices li.search-choice {
  line-height: 1.5rem;
}

.btn-xs, .btn-group-xs > .btn {
    padding: 0.25rem 0.40rem;
    font-size: 0.875rem;
    line-height: 1;
    border-radius: 0.2rem;
}