<div class="row justify-content-md-center">
  <div class="col-md-6 col-sm-12">
    <div class="card">
      <div class="card-header">
        <h6 class="m-0 font-weight-bold text-primary">Edit Political Party</h6>
      </div>
      <div class="card-body">
        <%= render 'settings/political_parties/form' %>
      </div>
    </div>
  </div>
</div>