<div class="modal-header">
  <h5 class="modal-title">New Ordinance Sponsor</h5>
  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<% remote ||= false %>
<%= simple_form_for @sponsorship, html: { autocomplete: "off"}, remote: remote, url: ordinance_sponsors_path(ordinance_id: @ordinance.id), method: :post do |f| %>
  <%= render 'form', f: f %>
<% end %>