<%= render "members/shared/card", member: @member %>
<div class="card">
  <div class="card-header">
    <div class="row">
      <div class="col-md-6">
        <h4 class="">New Salary Adjustment</h4>
      </div>
      <div class="col-md-6">
        <%= link_to member_salary_adjustments_path(member_id: @member.id) do %>
          <h4 class="float-right fa fa-times pt-1"></h4>
        <% end %>
      </div>
    </div>
  </div>
  <div class="card-body">
    <%= render "members/salary_adjustments/form", salary_adjustment: @salary_adjustment %>
  </div>
</div>
