<div class="modal-header">
  <h5 class="modal-title">New Municipal Ordinance</h5>
  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<% remote ||= false %>
<%= simple_form_for @municipal_ordinance, html: { autocomplete: "off"}, remote: remote, url: resolution_municipal_ordinances_path(resolution_id: @resolution.id), method: :post do |f| %>
  <%= render 'form', f: f %>
<% end %>